html, body {
	margin:0px;
	padding:0px;
}

body {
	background:#edede3;
	background-attachment:fixed;
	background-size:100%;
	}


#header {
	width:100%;
	height:500px;
	position:relative;
	background-image:url(img/thrillernordSfondo.jpg);
    background-size: 100% 100%;
    margin-bottom:-16px;
	z-index:1

	}
#logomobile { 
	background-image:url(img/ThrillernordLogo.png);
	position:relative;
	display:block;
	height:169px;
	width:170px;
	margin:auto;
 	background-size: 100% auto;
 	}
#header nav {
	width:97%;
	min-height:25px;
	background:#6699CC;
	background-repeat: repeat-x;
	position: relative;
	z-index:10;
	margin:0 auto;
	margin-bottom:0px;
	margin-top:20px;
	border: 5px solid #333333;

	}
#newsTab {
	position:relative; 
	margin:auto;
	display:block;
	padding-top:5px;
	}
#nav ul {
    position:relative;
    margin:0;
    padding:12px 0px;
    width:100%;
    list-style:none;
    text-transform:uppercase;
    font-family:oswald;
    font-size:90%;
    display:block;
}


#nav ul li{display:inline;}
#nav ul li a{color:#322a2b;padding:3px 4px;text-decoration:none;}

#carousel {

	display:block;
	position:absolute;
	width:100%;
	height:38%;
	background-image:url(img/carouselSfondo.png);
	bottom:-0px;
	}
	
	
	#rubriche		{
				background-image:url(img/rubriche.png);
				display:none;
				height:33px;
				width:200px;
 				margin: auto;
 				margin-top:20px;


				}
				
#news {
	min-height:300px;
	display:none;
	background-image:url(img/news.jpg);
	position: relative;
	margin:auto;
	width:100%;
	top:16px;
	}
#news p {
	margin:0px;
	padding:5px;
  	color:#999900;
  	font-size:25px;
  	text-decoration:none; 
  	text-transform:uppercase;
  	text-align:center;
  	position:center;
	}
	
#slider {
	width:100%;
	min-height:750px;
	position:relative;
	margin-top:-155px;
	background:blue;
	}
#sliderpagina {
    background:white;
	font-family:EB Garamond;
	font-size:130%;
	min-height:300px;
	position:center;
	padding:6%;
	}
	
@media screen and (max-width: 480px) {
	#sliderpagina {
    background:white;
	font-family:EB Garamond;
	font-size:120%;
	min-height:300px;
	position:center;
	padding:6%;
	}
	}

#sliderpagina img {
	width:100%;
	height:100%;
	}
#testo {
	right:-200px;
	display:inline;
	position:relative;
	}
#informations {
	width:100%;
	min-height:300px;
	position:relative;
	background:white;
	margin-top:-16px;
	font-size:125%;
	margin-bottom:20px;
	margin-top:20px;
	}
	
	#slides {
	width:90%;
	margin:auto;
	padding-top:20px;
	padding-bottom:20px;
	
	}
	#slides a img {
	width:100%;
	height:auto;
	}
	
#end	{
		height:30px;
		margin-top:-16px;
		background-color:#6699CC;
		display:block;
		}
#footer {
	width:100%;
	min-height:100px;
	position:relative;
	background:#6699CC;
	margin-bottom:-90px;
	}
#footer a {
	color:black;
	text-align:center;
	display:block;
	}
#footer  img {
		width:150px;
		display:block;
		position:relative;
		margin:auto;
		padding:10px;


		}
#loghi {
		text-align:center;
		padding-top:10px;
		}


#griglia li  p {
  	padding: 5px 5px 0 5px;
  	margin: 0;
  	font-size: 15px;
  	text-align:center;
  	color: #fff;
	}

#griglia  li {
  display: inline-block;
  width: 140px;
  margin:40px;
  margin-top:40px;
  border: 3px solid #333333;  background: #333333;
  border-bottom: 5px solid #333333;  background: #333333;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
@media screen and (max-width: 480px) {
#griglia  li {
  display: inline-block;
  width: 35%;
  margin:40px;
  margin-top:40px;
  border: 3px solid #333333;  background: #333333;
  border-bottom: 5px solid #333333;  background: #333333;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
}

#griglia  li img {
		width:100%;
		height:auto;
		}

@media screen and (max-width: 480px) {
	#griglia  li {
		 margin:10px;
		 margin-top:30px;
		 margin-bottom:10px;

		 }
		 }
		 
#griglia li.active, #griglia li:hover {
				filter: brightness(80%); -webkit-filter: brightness(130%);
				}
div#container
{
	position: center; 
	width: 100%;
	margin: 0 auto;
	min-height:725px;
	background:white;
	text-align: left
}
#icona {
			position:relative;
			margin-top:3px;
			margin-bottom:3px;
			margin-right:12px;
			display:block; 
			float:right;
			width:37px; 
			height: 37px; 
			z-index:12;
	        background:url(img/Facebook.png);
	        background-size:100%;

}
#icona2 {
			position:relative;
			margin-top:3px;
			margin-bottom:3px;
			margin-right:12px;
			display:block; 
			float:right;
			width:37px; 
			height: 37px; 
			z-index:12;
	        background:url(img/twitter.png);
	        background-size:100%;


}
#icona3 {
			position:relative;
			margin-top:3px;
			margin-bottom:3px;
			margin-right:12px;
			display:block; 
			float:right;
			width:37px; 
			height: 37px; 
			z-index:12;
	        background:url(img/instagram.png);
	        background-size:100%;


}
#informations ul	 {
				text-align:center;
				list-style:none;
				float:center;
		
					}
#informations ul li a {color:#999900;text-decoration:none; text-transform:uppercase; font-size:125%;}
#informations ul li a.active, #informations ul li a:hover {
				text-decoration:underline;
				}

#informations ul{
			display:block;
			list-style:none;
			bottom:0px;
			right:0px;
			top:-35px;
			padding:25px;
}
#searchbox {
					display:block;
					width:80%;
					margin:auto;
					position:relative;
					padding-top:25px;
					z-index:20;
					}

#jssor_1 { position: relative; margin: 0 auto; top: 0px; left: 0px; width: 20*20%; height: 200px; overflow: hidden; visibility: hidden; }

					
#buyonline {
    background-color: #6699CC;
    padding:5px;
	margin:40px auto;
	display:block;
}

#buyonline img{
	border:1px solid #fff;
	float:left;
	margin-right:20px;
	width:25%;
	height:auto;
}

#buyonline p{
	color:black;
	font-weight:600;
	font-size:20px;
	font-family: "Open Sans",sans-serif;
	line-height:42px;
}

#buyonline a{
	color:black;
	text-decoration:none;
}
/* Navigazione Blogger */
.navigation a, .navigation span, .navigation a {
text-decoration: none;
color: #272727;
background-color: #fff;
padding: 5px 10px;
border: 1px solid lightGrey;
font-weight: bold;
font-size: 12px;
vertical-align: middle;
margin: 2px 2px;
}
.navigation a:hover, .pagenavi a:hover {
border-color: #C6C6C6;
}
#blog-pager-older-link, #blog-pager-newer-link {
float: none;
}
.navigation .current {
border-color: #C6C6C6;
background-color: #6699CC;
background-image: none;
color:#fff;
}
.navigation a:active {
border-color: #C6C6C6;
background-color: #6699CC;
background-image: none;
}		

		

	

